---
layout: default
active_menu_id: 'people'
permalink: /people.html
---
{% assign data = site.data.people %}
{% assign title = data.title %}
{% assign description = data.description %}
{% assign category_data = data.categories | where: 'published', true %}


{% include _header.html %}


<div class="row">
  <div class="col">

    {% assign j = 0 %}
{% for category in category_data %}
{% assign people_data = data.people | where: 'category_id', category.id %}

{% assign group_size = data.news %}

{% assign oddEven = j | modulo: 3 %}

{% if oddEven == 0 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "bg-si-purple" %}
{% elsif oddEven == 1 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "bg-si-pink" %}
{% elsif oddEven == 2 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "bg-si-gray" %}
{% endif %}

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-left px-3 py-3">
    <h4 class="font-alt {{ hClass }}">
      <span class="px-3 py-2 {{spanClass}}" style="line-height: 45px; margin-left: 5px; display: inline-block;">
        {{ category.title }}
      </span>
    </h4>
  </div>
</div>

<div class="row mb-4">

  {% for person in people_data %}

  {% assign image_path = person.image %}
  {% if person.image != false and person.image != nil and person.image != ""%}
  {% assign stringToCheck = image_path %}{% assign startsWith = 'http' %}
  {% assign checkArray = stringToCheck | split:startsWith %}
  {% if checkArray[0] == blank %}
    {% assign image_path = base | append: '/' | append: image_path %}
  {% else %}
    {% assign image_path = image_path %}
  {% endif %}
  {% else %}
    {% assign image_path = site.data.website.image_placeholder_settings.person_image_placeholder %}
  {% endif %}

  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 text-center px-3 py-3">
    <div class="px-1 py-2">
      <div class="Person-photo-container">
        <img alt="Person photo" src="{{base}}{{ image_path }}"
          class="Person-photo img-fluid img-center border bg-si-lightpink">
      </div>
      <br />
      {% assign person_url = person.url %}
      {% if person.url != "" and person.url != nil %}
      {% assign stringToCheckx = person_url %}
      {% assign startsWithx = 'http' %}
      {% assign checkArrayx = stringToCheckx | split:startsWithx %}
      {% if checkArrayx[0] == blank %}
      {% assign person_url = person_url %}
      {% else %}
      {% assign person_url = base | append: person_url %}
      {% endif %}
      <span class="pb-1 big"><strong><a href="{{person_url}}">{{person.name}}</a></strong></span><br />
      {% else %}
      <span class="pb-1 big"><strong>{{person.name}}</strong></span><br />
      {% endif %}
      <span class="py-1">{{person.role}}</span><br />
    </div>
  </div>

  {% endfor %}
</div>

{% assign j =  j | plus:1 %}
{% endfor %}

  </div>
</div>

