---
layout: default
active_menu_id: 'people'
---
{% assign data = site.data.people %}
{% assign title = data.title %}
{% assign description = data.description %}
{% assign people_data = data.people %}

{% include _header.html title=title description=description %}

<div class="row">
  {% for person in people_data %}

  {% assign image_path = person.image %}
  {% if person.image != false and person.image != nil and person.image != ""%}
  {% assign stringToCheck = image_path %}{% assign startsWith = 'http' %}
  {% assign checkArray = stringToCheck | split:startsWith %}
  {% if checkArray[0] == blank %}
  {% assign image_path = image_path %}
  {% else %}
  {% assign image_path = base | append: image_path %}
  {% endif %}
  {% else %}
  {% assign image_path = site.data.website.image_placeholder_settings.person_image_placeholder %}
  {% endif %}


  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center px-3 py-3">
    <div class="px-1 py-2">
      <div class="Person-photo-container">
        <img alt="Person photo" src="{{base}}{{ image_path }}"
          class="Person-photo img-fluid img-center border bg-si-lightpink">
      </div>
      <br />
      {% assign person_url = person.url %}
      {% if person.url != "" and person.url != nil %}
      {% assign stringToCheckx = person_url %}
      {% assign startsWithx = 'http' %}
      {% assign checkArrayx = stringToCheckx | split:startsWithx %}
      {% if checkArrayx[0] == blank %}
      {% assign person_url = person_url %}
      {% else %}
      {% assign person_url = base | append: person_url %}
      {% endif %}
      <span class="pb-1 big"><strong><a href="{{base}}{{person_url}}">{{person.name}}</a></strong></span><br />
      {% else %}
      <span class="pb-1 big"><strong>{{person.name}}</strong></span><br />
      {% endif %}
      <span class="py-1">{{person.role}}</span><br />
    </div>
  </div>

  {% endfor %}
</div>