---
layout: default
active_menu_id: 'positions'
permalink: /positions.html
---

{% assign data = site.data.positions %}
{% assign title = data.title %}
{% assign description = data.description %}
{% assign positions = data.positions %}

{% include _header.html %}

<div class="row">
  <div class="col-lg-10">
    <div class="px-md-5">
      {% assign j = 0 %}
      {% for position in positions %}

      

      {% assign group_size = data.news %}

      {% assign oddEven = j | modulo: 3 %}

      {% if oddEven == 0 %}
      {% assign hClass = "text-white" %}
      {% assign spanClass = "bg-si-purple" %}
      {% elsif oddEven == 1 %}
      {% assign hClass = "text-white" %}
      {% assign spanClass = "bg-si-pink" %}
      {% elsif oddEven == 2 %}
      {% assign hClass = "text-white" %}
      {% assign spanClass = "bg-si-gray" %}
      {% endif %}

      <div class="Positions-card py-3 my-3
          ">
        {% include base.html %}
        <h4 class="font-alt {{ hClass }}" style="line-height: 45px;">
          <span class="px-3 py-2 {{spanClass}}" style="display: inline-block;">
            {{ position.title }}
          </span>
        </h4>
        <p class="pt-3">
          {{ position.content | newline_to_br }}
        </p>
        <!-- <a class="Positions-card-link" href="{{base}}{{ item.url }}">
          <i class="fa fa-caret-right mx-1" aria-hidden="true"></i> {{menu_item.title }}
        </a> -->
      </div>
      {% assign j = j | plus:1 %}
      {% endfor %}
    </div>
  </div>
</div>