---
layout: default
active_menu_id: 'papers'
permalink: /publications.html
---
{% assign data = site.data.papers %}
{% assign title = data.title %}
{% assign description = data.description %}

{% assign unsorted_papers_data = data.timeline | group_by: 'year' %}
{% assign papers_data = unsorted_papers_data | sort: 'name' | reverse %}

{% assign headerClass = "Papers-page-header" %}
{% include _header.html %}

{% assign j = 0 %}
{% for papers_group in papers_data %}
{% assign group_size = papers_group.size %}
{% assign group_year = papers_group.name %}

{% assign oddEven = j | modulo: 3 %}

{% if oddEven == 0 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "border-si-purple bg-si-purple" %}
{% elsif oddEven == 1 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "border-si-pink bg-si-pink" %}
{% elsif oddEven == 2 %}
{% assign hClass = "text-white" %}
{% assign spanClass = "border-si-gray bg-si-gray" %}
{% endif %}

{% comment %}
<!-- You can change the alignment of year label below -->
<!-- text-* is default alignment for mobile screens and onwards -->
<!-- text-md-* is for larger screens -->
<!-- You can choose left / right / center as an option -->
{% endcomment %}
<h3 class="Publications-year font-alt my-4 text-left text-md-left border-top {{hClass}}">
  <span class="text-left border px-4 py-1 py-md-2 my-0 d-inline-block {{spanClass}} ">

    {% assign groupName = papers_group.name %}
    {% if groupName == "" or groupName == nil %}
    {% assign groupName = "•••" %}
    {% endif %}
    {{groupName}}
  </span>
</h3>

{% for item in papers_group.items %}
{% assign itemId = item.title | remove: " " | remove: ":" | remove: '/' | remove: '\' | remove: '"' | remove: '`' |
remove: "'" %}
<div id="{{itemId}}"></div>

{% assign offsetValue = 1 %}

{% assign offsetClass = "offset-xl-0" %}
<div class="row {{offsetClass}} px-0 px-md-3 mx-0 my-1 my-md-5 py-0 py-md-2 bg-white">

  {% assign paper_image_path = item.image %}

  {% if item.image != nil and item.image != false %}
  {% assign stringToCheck = paper_image_path %}
  {% assign startsWith = 'http' %}
  {% assign checkArray = stringToCheck | split:startsWith %}
  {% if checkArray[0] == blank %}
  {% assign paper_image_path = paper_image_path | prepend: site.url %}
  {% else %}
  {% endif %}
  {% else %}
  {% assign paper_image_path = site.data.website.image_placeholder_settings.paper_image_placeholder %}
  {% endif %}

  <div
    class="col-lg-4 order-2 order-lg-{{offsetValue}} order-xl-{{offsetValue}} px-0 pt-4 mb-5 mb-lg-0">
    <img alt="Research teaser" src="{{base}}{{ paper_image_path }}"
      class="Publication-image img-fluid img-left mb-4 mb-lg-0 px-0 ">

    <div class="d-block d-lg-none d-xl-none">
      {% for link in item.links %}
      <a href="{{link.url }}">
        <span
          class="Papers-link-pill d-inline border border-blue small badge-pill text-blue text-uppercase my-1 px-3 mx-1 py-1 ">
          {{link.name}}
        </span>
      </a>
      {% endfor%}
    </div>
  </div>


  <div
    class="col-lg-8 order-1 px-0 pl-lg-1 pt-4 pb-3 pl-lg-4">
    <div class="card border-0">
      <div class="">
        <h4 class="font-alt">{{item.title}}</h4>
        {% for tag in item.tags %}
        {% assign style = tag.style %}
        {% assign tag_style = site.data.website.tag_styles | where: "name",style | limit:1 %}
        <span class="badge badge-lg badge-pill {{ tag_style[0].css }} text-uppercase mb-1" {% if tag.style !=nil and
          tag.style !=nil %} style="{{ tag.style }}" {% endif %}>
          {{tag.text}}
        </span>
        {% endfor %}
        <p class="mt-3"><i>{{item.authors}}</i> <br> in <i>{{item.venue}}</i></p>
        <p class="mt-3">{{item.description}}</p>
        <div class="d-none d-lg-block d-xl-block">
          {% for link in item.links %}
          <a href="{{link.url }}">
            <span
              class="Papers-link-pill d-inline border border-blue small badge-pill text-blue text-uppercase my-1 px-3 mx-1 py-1 ">
              {{link.name}}
            </span>
          </a>
          {% endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% assign j = j | plus:1 %}
{% endfor %}

<script>
  jQuery(document).ready(function () {
    let hash = $(location).attr('hash');
    if (hash) {
      jQuery('html, body').animate({
        scrollTop: $(`${hash}`).offset().top - 50
      }, 500);
    }
  });
</script>