---
layout: default
active_menu_id: 'talks'
---
{% assign data = site.data.talks %}
{% assign title = data.title %}
{% assign description = data.description %}
{% assign talks = data.talks %}

{% include _header.html title=title description=description %}

<div class="row">
  {% for talk in talks %}
  <div class="col-xs-12 col-md-12 col-xl-9 pb-5 pt-1">
    <div class="Talks-card border my-3 bg-mpi-gray-two">
      <div class=" px-3 py-2
            {% if talk.style %}
            {{talk.style}}
            {% else %}
            bg-si-gray
            {% endif %}
            ">
        <h5 class="Talks-title text-white py-2 my-0 font-alt">{{talk.title}}</h5>
      </div>
      <div class="Talks-video-container">
        <iframe class="Talks-video" src="{{talk.youtube_url}}" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
      {% if talk.description != nil and talk.description != "" %}
      <p class="Talks-description py-3 px-3 my-0">{{talk.description}}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>