{% include base.html %}

{% assign person = site.data.people.people | where: 'id', person_id %}
{% assign person = person[0] %}

{% assign image_path = person.image | default: site.data.website.image_placeholder_settings.person_image_placeholder %}
{% capture image_url %}{% include asset_url.html path=image_path %}{% endcapture %}

<div class="row">
  <div class="px-0 col-lg-10">
    <div class="">
      <img src="{{ image_url | strip }}" alt="{{ person.name | escape }}" class="Person-photo" />
      <h1 class="py-3">{{person.name}}</h1>
      {{person.pageContent | newline_to_br}}
    </div>
  </div>
</div>