<div class="row">
  <div class="col-xl-12">
    <a href="{{ '/projects' | prepend: site.url }}" class="btn btn-blue mt-2 py-1 float-left mt-5 mb-5">View other projects</a>
  </div>
</div>

{% comment %}
<!-- <div class="row">
  <div class="offset-xl-6 col-xl-6 offset-md-0 col-md-12">
    <div class="card card-pricing border-0 bg-blue-ll py-0">
      <h4 class="mb-0 pl-4 mt-0 k-subheader bg-blue text-white py-2 mx-0">{{ page.card_title }}</h4>
      <div class="card-body py-4">
          <p class="card-text text">{{ page.card_description }}</p>
          <a href="{{ '/projects' | prepend: site.url }}" class="btn btn-blue mt-2 py-1" style="">View other projects</a>
      </div>
    </div>
  </div>
</div> -->
{% endcomment %}