<footer class="mt-5 pb-3 footer footer-light">
  <div class="container">
    <hr>
    <div class="d-flex align-items-center">
      <span class="" style="width: 100%;">
        &copy; {{ site.data.website.current_year }}
        {% assign impressum_url = site.data.website.impressum.url %}
        {% assign startsWith = 'http' %}
        {% assign checkArray = site.data.website.impressum.url | split:startsWith %}

        {% if checkArray[0] == blank %}
        {% assign impressum_url = impressum.url | prepend: site.url %}
        {% else %}
        {% assign impressum_url = base | append: impressum_url %}
        {% endif %}
		
		{% assign dataprotection_url = site.data.website.dataprotection.url %}
        {% assign startsWith = 'http' %}
        {% assign checkArray = site.data.website.dataprotection.url | split:startsWith %}

        {% if checkArray[0] == blank %}
        {% assign dataprotection_url = dataprotection.url | prepend: site.url %}
        {% else %}
        {% assign dataprotection_url = base | append: dataprotection_url %}
        {% endif %}

        {{ site.data.website.base_title }}. 
        • <a style="color: #6c757d;" href="{{impressum_url}}">{{site.data.website.impressum.title}}</a>
		• <a style="color: #6c757d;" href="{{dataprotection_url}}">{{site.data.website.dataprotection.title}}</a>

        {% include watermark.html %}
      </span>
    </div>
  </div>
</footer>