<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% assign search_description = page.description | default: site.data.website.meta.description %}
  <meta name="description" content="{{ search_description | escape }}">
  <meta name="author" content="{{ site.data.website.meta.author | escape }}">
  {% if page.seo_title %}
  <title>{{ page.seo_title | escape }}</title>
  {% elsif page.title %}
  <title>{{ site.data.website.base_title | escape }} | {{ page.title | escape }}</title>
  {% else %}
  <title>{{ site.data.website.base_title | escape }}</title>
  {% endif %}
  {% assign canonical_path = page.url | replace: '/index.html', '/' %}
  <link rel="canonical" href="{{ canonical_path | absolute_url }}">

  <!-- Core -->
  <script src="{{base}}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{base}}/assets/vendor/popper/popper.min.js"></script>
  <script src="{{base}}/assets/js/bootstrap/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/9a84b54f1a.js"></script>
  
  {% if page.active_menu_id == 'home' %}
  <!-- Homepage slideshow -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  {% endif %}

  <!-- Theme JS -->
  <script src="{{ base }}/assets/js/theme.js"></script>

  <!-- Custom JS -->
  <script src="{{ base }}/assets/js/custom.js"></script>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet">

  <!-- Theme CSS -->
  <link type="text/css" href="{{base}}/assets/css/main.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{{base}}/favicon.ico">

  <!-- icon for touch devices -->
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{base}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{base}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{base}}/favicon-16x16.png">
  <link rel="manifest" href="{{base}}/site.webmanifest">
</head>