---
layout: page
title: Bio
active_menu_title: "Bio"
---

<section class="slice slice-lg">
  <h3 class="mt-1 mb-4"><span class="k-border-cyan">Bio</span></h3>

  <div class="row">
    <div class="col-lg-7 col-md-12">
    {% for section in site.data.bio.timeline %}
       <div class="card card-pricing mb-5 border-0 bg-lightest">
          <div class="card-body px-2 px-sm-5">
            <h4 class="mb-4">{{ section.name }}</h4>
            {% assign items = section.items | sort: 'year' | reverse %}
            {% assign items_grouped = items | group_by: 'year' %}

            <div class="timeline">
              <div class="timeline-container ">
                {% for group in items_grouped %}
                  <section class="year">
                      <h3>{{ group.name }}</h3>
                      {% if group.items[0].from %}
                        <h3 class="year-from text-muted">{{ group.items[0].from }}</h3>
                      {% endif %}

                        {% for item in group.items %}
                          <section class="{% if item.context != nil %}with-context{%endif%}">
                            <ul>
                              <li>{{ item.note }}</li>
                              {% if item.context != nil %}
                              <li>
                                <h4 class="text-muted">{{ item.context }}</h4>
                              </li>
                              {% endif %}
                            </ul>

                          </section>
                        {% endfor %}
                  </section>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
    </div>

    <div class="col-lg-5 col-md-12">
      {% assign selection = site.data.bio.skills %}
      <div class="card card-pricing mb-5 border-0 bg-lightest">
          <div class="card-body px-2 px-sm-5">
            <h4 class="mb-4">{{ selection.title }}</h4>
            {% for skill in selection.items %}
              <b>{{ skill.name }}</b>
              <p>{{ skill.description }}</p>
            {% endfor %}
          </div>
      </div>
    </div>
  </div>

</section>