/*
Add your custom styles below
*/
@import "_variables.scss";

// Container width override for XL screen
@media only screen and (min-width : 1200px) {
    .container { max-width: 1200px; }
}

.font-base {
  font-family: $font-family-base !important;
}

.font-alt {
  // font-size: 16px;
  font-family: $font-family-alt !important;
}

.navbar-brand {
  font-size: 1.75em;
}

body {
  padding-top: 52px;
  background-color: white;
}

.Nav-logo {
  margin-top: -1px !important;
}
@media only screen and (min-width : 980px) {
  .navbar-nav {
    margin-bottom: -12px;
  }
}

.navbar-nav .nav-link {
  border-radius: 0rem !important;
  font-size: 17px;
  font-family: $font-family-alt;
  &.nav-active, &.nav-active:hover {
    background-color: theme-color("si-pink");
    color: white;
  }
}

a.nav-link.bg-white:hover {
  background-color: white !important;
}

.designed-by {
  opacity: 0;
  margin-left: auto;
  width: 20px;
  transition: ease-in-out 1s;
  &:hover {
    opacity: 1;
    transition: ease-in-out 1s;
  };
}

.navbar {
  background-color: rgb(108, 127, 156);
}
.navbar.navbar-translucent {
  opacity: 0.95;
  // background-color: rgba(105,124,157,0.9) !important;
}

.bg-base-opacity-override {
  // opacity: 0.97;
}

.navbar-collapse.collapse.show, .navbar-collapse.collapsing {
  padding-top: 20px;
}

.Home-logo-container {
  position: relative;
  height: 160px;

  img {
    // position: absolute;
    // top: 0;
    // bottom: 0;
    max-height: 100%;
    margin: auto;
  }
}

.Home-logo-container-mpi {
  img {
    width: 100%;
    padding-top: 20px;
    max-width: 410px;
  }
}

.Home-logo-container-si {
  img {
    height: 120px;
  }
}

.Talks-video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.Talks-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Person-photo-container {
  overflow: hidden;
}

.Person-photo {
  max-height: 225px; 
}

.Page-backbutton {
  display: block;
}

span.big, p.big {
  font-size: 1.3rem;
}

.Teaser-container {
  margin: 0;
  padding: 0;
  // min-height: 100px;
  // max-height: 250px;
  // height: 100%;
  overflow: hidden;
  background-color: $sensint-gray;
  position: relative;
  
  .Teaser-image {
    width: 100%;
    max-height: 250px;
    opacity: 0.65;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.Publication-image {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.Research-image-container {
  position:relative;
  overflow:hidden;
  // padding-bottom:100%;
  // height: 100%;
}
.Research-image {
  // position:absolute;
  // max-width: 500px;

  height: 100%;
  max-height: 360px;
  object-fit: cover;
  object-position: center;
}

.Header-container {
  .Header-title {
    margin-left: 1px;
    border-left: 17px solid $sensint-lightpurple;
    padding-left: 15px;
    @media (max-width: 768px) {
      margin-left: 1px;
      border-left: 19px solid $sensint-lightpurple;
    }
  }
  // .Header-description {
  //   padding-left: 40px;
  //   @media (max-width: 1000px) {
  //     padding-left: 0px;
  //   }
  // }
}

.Papers-page-header {
  border: 0;
  margin-bottom: -25px !important;
}

.Papers-link-pill {
  line-height: 2.75em;
  &:hover {
    background-color: $blue;
    color: white !important;
  }
}

.Publications-year {
  @media (max-width: 768px) {
    font-size: 1.5em;
    span {
      margin-top: -10px;
      
    }
  }
}

$g-colors: "si-purple", "si-pink", "si-gray";
@each $col in $g-colors {
 .bg-#{$col}-g-lr {
    background: -webkit-linear-gradient(90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: -o-linear-gradient(90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: -ms-linear-gradient(90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: linear-gradient(90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));

    @media (max-width: 1000px){
      background: rgba(theme-color(#{$col}), 1);
    }
  }

  .bg-#{$col}-g-rl {
    background: -webkit-linear-gradient(-90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: -o-linear-gradient(-90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: -ms-linear-gradient(-90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));
    background: linear-gradient(-90deg, rgba(theme-color(#{$col}), 1), rgba(theme-color(#{$col}), 0));

    @media (max-width: 1000px){
      background: rgba(theme-color(#{$col}), 1);
    }
  }
}

@import "_custom.scss";
























// section.slice {
//   padding-top: 1rem;
//   padding-bottom: 2rem;
// }

// $k-colors: "red", "orange", "green", "cyan", "blue", "magenta", "violet", "gray";
// @each $color in $k-colors {
//  .k-border-#{$color} {
//     background: -webkit-linear-gradient(rgba(255,255,255,0) 60%, rgba(theme-color(#{$color}), 0.7) 60%);
//     background: -o-linear-gradient(rgba(255,255,255,0) 60%, rgba(theme-color(#{$color}), 0.7) 60%);
//     background: -ms-linear-gradient(rgba(255,255,255,0) 60%, rgba(theme-color(#{$color}), 0.7) 60%);
//     background: linear-gradient(rgba(255,255,255,0) 60%, rgba(theme-color(#{$color}), 0.7) 60%);
//   }
// }

// .k-border-gray {
//   background: linear-gradient(180deg,rgba(255,255,255,0) 60%, rgba(108, 117, 125, 70%) 60%);
// }

// .k-border-cyan {
//   background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(42,161,152,0.7) 60%)
// }

// .bg-lightest {
//   background: linear-gradient(#f5f5f5, white);
//   background: -ms-linear-gradient(#f5f5f5, white)
// }

// $ll-colors: "cyan", "magenta", "gray", "blue";
// @each $color in $ll-colors {
//   .bg-#{$color}-ll {
//     background: linear-gradient(theme-color(#{$color}-l), theme-color(#{$color}-ll) 80%);
//     background: -ms-linear-gradient(theme-color(#{$color}-l), theme-color(#{$color}-ll) 80%);
//   }
// }