<!DOCTYPE html>
<html>
{% include base.html %}
{% include head.html %}

<body>
  {% include nav.html %}
  <main class="container main">
    <div class="my-3">
      <div class="row py-5">
        {% assign backUrl = site.data.website.menu | where: "id", 'people' %}
        <div class="col-lg-2">
          <a class="Page-backbutton btn btn-sm border px-2" href="{{base}}/{{ backUrl[0].url }}">
            <i class="fa fa-caret-left mx-1" aria-hidden="true"></i> See other people
          </a>
        </div>
        <div class="col-lg-10 px-5 py-5">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>